<block name="header"></block>
<div id="main-container" class="container">
    <div class="row">
        <block name="side">
            <!-- 左侧 nav
            ================================================== -->
            <div class="col-md-3 bs-docs-sidebar">
                <block name="publish"></block>
                <ul class="nav nav-list bs-docs-sidenav">
                    {:W('Category/lists', array($category['id'], ACTION_NAME == 'index'))}
                </ul>
            </div>
        </block>
        <block name="body"></block>
    </div>
</div>

<div aria-hidden="false" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="loginModal"
     class="modal fade in tpnone" style="padding-right: 21px;">
    <div class="modal-dialog">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 id="myModalLabel" class="modal-title">登录</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-left:0px">

                    <form id="loginform" method="post" action="{:U('User/login')}" class="col-lg-8"
                          style="margin-top:3em">
                        <div class="input-group">
<span class="input-group-addon blue">
<i class="fa fa-envelope-o"></i>
</span>
                            <input id="emailbox" type="text" placeholder="输入邮箱" name="username" class="form-control">
                        </div>
                        <div class="input-group top10">
<span class="input-group-addon blue">
<i class="fa fa-unlock-alt"></i>
</span>
                            <input name="password" type="password" id="pwbox" placeholder="输入密码" class="form-control">
                        </div>
                        <div class="input-group top20">
                            <label class="control-label" for="inputPassword">验证码</label>
                            <div class="controls">
                                <input type="text" id="inputPassword" class="form-control" class="col-lg-3" placeholder="请输入验证码"
                                       errormsg="请填写5位验证码" nullmsg="请填写验证码"  name="verify">
                            </div>
                        </div>
                        <div class="input-group top20">
                            <label class="control-label"></label>
                            <div class="controls">
                                <img class="verifyimg reloadverify" alt="点击切换" src="{:U('User/verify')}" style="cursor:pointer;">
                            </div>
                            <div class="controls Validform_checktip text-warning"></div>
                        </div>
                        <div id="tiptxt" class="top10"></div>
<span class="input-group top20 w100">
<a id="loginbtn" class="btn btn-box blue">确定</a>
</span>
                    </form>
                </div>
            </div>
        </div>

    </div>

</div>

<div aria-hidden="false" aria-labelledby="myModalLabel" role="dialog" tabindex="-1" id="regModal"
     class="modal fade in tpnone" style="padding-right: 21px;">
    <div class="modal-dialog">
        <div class="modal-content bg-white">
            <div class="modal-header">
                <button aria-hidden="true" data-dismiss="modal" class="close" type="button">×</button>
                <h4 id="myModalLabel" class="modal-title">注册</h4>
            </div>
            <div class="modal-body">
                <div class="row" style="margin-left:0px">

                    <form id="registerform" method="post" action="{:U('User/register')}" class="col-lg-12">
                        <div class="input-group text-center w100"><h4>注册</h4></div>
                        <div class="input-group">
<span class="input-group-addon green">
<i class="fa fa-envelope-o"></i>
</span>
                            <input id="email" type="text" placeholder="请输入邮箱" class="form-control" name="email">
                        </div>
                        <div class="input-group top10">
<span class="input-group-addon green">
<i class="fa fa-user"></i>
</span>
                            <input id="username" type="text" placeholder="请输入名字" class="form-control" datatype="*1-16"
                                   value="" name="username">
                        </div>
                        <div class="input-group top20">
<span class="input-group-addon green">
<i class="fa fa-unlock-alt"></i>
</span>
                            <input type="password" id="pw" placeholder="请输入密码" class="form-control" name="password">
                        </div>


                        <div class="input-group top10">
<span id="pwd" class="input-group-addon green">
<i class="fa fa-unlock-alt"></i>
</span>
                            <input type="password" id="pw2" placeholder="请再次输入密码" class="form-control"
                                   name="repassword">
                        </div>
                        <div class="input-group top20">
                            <label class="control-label" for="inputPassword">验证码</label>
                            <div class="controls">
                                <input type="text" id="inputPassword" class="form-control" class="col-lg-3" placeholder="请输入验证码"
                                       errormsg="请填写5位验证码" nullmsg="请填写验证码"  name="verify">
                            </div>
                        </div>
                        <div class="input-group top20">
                            <label class="control-label"></label>
                            <div class="controls">
                                <img class="verifyimg reloadverify" alt="点击切换" src="{:U('User/verify')}" style="cursor:pointer;">
                            </div>
                            <div class="controls Validform_checktip text-warning"></div>
                        </div>
                        <div id="tiptxt2" class="top10"></div>
<span class="input-group top20 w100">
<a id="registerbtn" class="btn btn-box green">注册</a>
</span>
                    </form>


                </div>
            </div>
        </div>

    </div>

</div>

<script type="text/javascript">
    $(function () {
        $(document).off('click.bs.dropdown.data-api');
        dropdownOpen();//调用
        $(window).resize(function () {
            $("#main-container").css("min-height", $(window).height() - 343);
        }).resize();

        $(".nav-collapse ul.tpnav li").click(function () {
            $this.addClass('tpActive').siblings().removeClass('tpActive');
        })
        $("#loginbtn").click(function () {
            $("#loginform").submit();
        })
        $("#registerbtn").click(function () {
            $("#registerform").submit();
        })

        /**
         * 鼠标划过就展开子菜单，免得需要点击才能展开
         */
        function dropdownOpen() {

            var $dropdownLi = $('li.dropdown');

            $dropdownLi.mouseover(function() {
                $(this).addClass('open');
            }).mouseout(function() {
                $(this).removeClass('open');
            });
        }

        $(function(){
            var verifyimg = $(".verifyimg").attr("src");
            $(".reloadverify").click(function(){
                if( verifyimg.indexOf('?')>0){
                    $(".verifyimg").attr("src", verifyimg+'&random='+Math.random());
                }else{
                    $(".verifyimg").attr("src", verifyimg.replace(/\?.*$/,'')+'?'+Math.random());
                }
            });
        });
    })

</script>