    <!-- 底部
    ================================================== -->

    <footer class="footer">
      <div class="container">
          <p> 在悠悠的岁月里，抒写好每一段光阴里的故事</p>
      </div>
    </footer>


<include file="Public/var"/>
<script>
    $("ul.tpnav>li").mouseover(function(){
        $(this).siblings().find('.childnav').addClass('tpnone').removeClass('tpblock');
        $(this).find('.childnav').removeClass('tpnone').addClass('tpblock');
    }).mouseleave(function(){
        $(this).find('.childnav').addClass('tpnone').removeClass('tpblock')
    })


</script>
<script type="text/javascript" src="__PUBLIC__/Home/js/particles.js"></script>
<script type="text/javascript" src="__PUBLIC__/Home/js/app.js"></script>

<block name="script"></block> <!-- 用于加载js代码 -->
<!-- 页面footer钩子，一般用于加载插件JS文件和JS代码 -->
{:hook('pageFooter', 'widget')}
<div class="hidden"><!-- 用于加载统计代码等隐藏元素 -->
	<block name="hidden"></block>
</div>
