<extend name="Base/common"/>
<block name="header">
    <div id="particles" class="container-fluid banner">
        <div id="intro" class="soso">
            <div class="clearfix">
                <div class="mark"><img src="/Public/Home/images/logo32.png" alt=""> 关于我 </div>
                <p class="mark_info">——梦想的世界，优雅的程序。</p>
            </div>
            <div class="clearfix">
                <input type="text" placeholder="搜索.." id="searchtxt" class="bantxt" style="transition: all 1.5s ease 0s;">
                <button id="seobut" type="button" class="btn banbutt"><i class="fa fa-search"></i>
                </button>
            </div>
        </div>

    </div>

</block>
<block name="body">
    <div class="">
        <!-- Contents
        ================================================== -->
        <section id="contents">


        <pre style="font-size:16px;">
            github : <a href="https://github.com/MerlinFeng">https://github.com/MerlinFeng</a>
              CSDN : <a href="http://blog.csdn.net/merlin_feng">http://blog.csdn.net/merlin_feng</a>
             Email : feng_qiang@yeah.net
        </pre>

        </section>
    </div>
</block>